{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "Stmt1422912335000",
      "Effect": "Allow",
      "Action": [
        "sqs:GetQueueAttributes",
        "sqs:GetQueueUrl",
        "sqs:ListQueues",
        "sqs:ReceiveMessage"
      ],
      "Resource": [
        "arn:aws:sqs:{{ region }}:*:chef-deregistration_{{ cloud }}_{{ env }}"
      ]
    },
    {
      "Sid": "Stmt1422912907000",
      "Effect": "Allow",
      "Action": [
        "sns:ConfirmSubscription",
        "sns:GetEndpointAttributes",
        "sns:GetTopicAttributes",
        "sns:ListSubscriptions",
        "sns:ListSubscriptionsByTopic",
        "sns:ListTopics",
        "sns:Publish",
        "sns:Subscribe"
      ],
      "Resource": [
        "arn:aws:sns:{{ region }}:*:chef-deregistration_{{ cloud }}_{{ env }}"
      ]
    },
    {
      "Sid": "",
      "Effect": "Allow",
      "Action": [
        "s3:GetObject"
      ],
      "Resource": [
        "arn:aws:s3:::cloudstrap.{{ cloud }}.{{ region }}.{{ env }}.leafme/babysitter/*"
      ]
    }
  ]
}
